{
  "openapi": "3.0.0",
  "info": {
    "title": "Snipp.gg API",
    "description": "Image and video hosting API. Upload, manage, and share media files.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.snipp.gg"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/users/{id}": {
      "get": {
        "summary": "Get User",
        "description": "Retrieve user profile data. Includes badge flags and a `badges` object (ordered as `verified`, `staff`, `partner`, `bugHunterTier`, `translator`, `plus`). For non-self requests, public profile uploads are included by default as `publicUploads`.",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User ID or `@me` for the authenticated user",
            "schema": { "type": "string" }
          },
          {
            "name": "includePosts",
            "in": "query",
            "required": false,
            "description": "Include `publicUploads` in the response. Defaults to `true` for non-self requests and `false` for `@me`.",
            "schema": { "type": "boolean" }
          },
          {
            "name": "postsLimit",
            "in": "query",
            "required": false,
            "description": "Maximum number of `publicUploads` to return (1-50, default 50).",
            "schema": { "type": "integer", "minimum": 1, "maximum": 50 }
          }
        ],
        "responses": {
          "200": {
            "description": "User data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserResponse"
                },
                "examples": {
                  "selfProfile": {
                    "summary": "@me Response",
                    "value": {
                      "user": {
                        "id": "123456789012345678",
                        "username": "snipp",
                        "avatar": "https://cdn.snipp.gg/avatar.png",
                        "banner": null,
                        "nickname": "Snipp",
                        "bio": null,
                        "socials": null,
                        "key": "snp_xxx",
                        "keyHasUploadsAccess": true,
                        "plus": true,
                        "enterprise": false,
                        "verified": true,
                        "staff": false,
                        "partner": false,
                        "translator": false,
                        "bugHunterTier": 0,
                        "suspended": false,
                        "created": "2025-01-01T00:00:00.000Z",
                        "embed_settings": null,
                        "badges": {
                          "verified": true,
                          "staff": false,
                          "partner": false,
                          "bugHunterTier": 0,
                          "translator": false,
                          "plus": true
                        },
                        "uploads": 42
                      }
                    }
                  },
                  "publicProfile": {
                    "summary": "Public Profile Response",
                    "value": {
                      "user": {
                        "id": "987654321098765432",
                        "username": "creator",
                        "avatar": "https://cdn.snipp.gg/avatar.png",
                        "banner": null,
                        "nickname": "Creator",
                        "bio": "Hello world",
                        "socials": {
                          "x": "snippgg"
                        },
                        "plus": true,
                        "enterprise": false,
                        "verified": true,
                        "staff": false,
                        "partner": false,
                        "translator": false,
                        "bugHunterTier": 1,
                        "suspended": false,
                        "created": "2025-01-01T00:00:00.000Z",
                        "embed_settings": null,
                        "badges": {
                          "verified": true,
                          "staff": false,
                          "partner": false,
                          "bugHunterTier": 1,
                          "translator": false,
                          "plus": true
                        },
                        "publicUploads": [
                          {
                            "url": "https://i.snipp.gg/987654321098765432/example",
                            "code": "AbCd1234",
                            "title": "Launch teaser",
                            "description": "Public post",
                            "created": "2025-01-02T00:00:00.000Z",
                            "public": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised. No api-key header or invalid API key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/posts/{code}": {
      "get": {
        "summary": "Get Post",
        "description": "Fetch a post by its share code. Returns the post's metadata including its direct file URL, title, description, privacy level, and creation date. Private posts are only visible to the owner.",
        "operationId": "getPost",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "The share code of the post",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Post data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "type": "object",
                      "properties": {
                        "code": { "type": "string" },
                        "url": { "type": "string", "nullable": true, "description": "Direct URL to the file" },
                        "title": { "type": "string", "nullable": true },
                        "description": { "type": "string", "nullable": true },
                        "postPrivacy": { "type": "string", "enum": ["public", "unlisted", "private"] },
                        "created": { "type": "string", "format": "date-time", "nullable": true },
                        "file": {
                          "type": "object",
                          "description": "File metadata. May be absent for older uploads.",
                          "properties": {
                            "size": { "type": "integer", "description": "File size in bytes" },
                            "size_formatted": { "type": "string", "description": "Human-readable file size" },
                            "mime_type": { "type": "string", "description": "MIME type" },
                            "dimensions": {
                              "type": "object",
                              "description": "Image dimensions. Only present for images and GIFs.",
                              "properties": {
                                "width": { "type": "integer" },
                                "height": { "type": "integer" }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "post": {
                    "summary": "Post Response",
                    "value": {
                      "post": {
                        "code": "AbCd1234",
                        "url": "https://i.snipp.gg/123456789012345678/example.png",
                        "title": "My screenshot",
                        "description": "A cool screenshot",
                        "postPrivacy": "public",
                        "created": "2025-01-02T00:00:00.000Z",
                        "file": {
                          "size": 2621440,
                          "size_formatted": "2.50 MB",
                          "mime_type": "image/png",
                          "dimensions": {
                            "width": 1920,
                            "height": 1080
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/upload": {
      "post": {
        "summary": "Upload File(s)",
        "description": "Upload 1-9 image or video files. Supports PNG, JPG, WebP, GIF, MP4, MOV, and MKV. Every upload automatically creates a post. When sending multiple files, they are grouped into an album by default. File size limits depend on your plan: Free (100 MB per file), Plus (5 GB per file), Enterprise (10 GB per file).",
        "operationId": "upload",
        "parameters": [
          {
            "name": "post-privacy",
            "in": "header",
            "required": false,
            "description": "Privacy for the generated post: private (default), unlisted (accessible via link), or public (visible on Discover)",
            "schema": { "type": "string", "enum": ["public", "unlisted", "private"], "default": "private" }
          },
          {
            "name": "post-title",
            "in": "header",
            "required": false,
            "description": "Post title (max 30 characters)",
            "schema": { "type": "string", "maxLength": 30 }
          },
          {
            "name": "post-description",
            "in": "header",
            "required": false,
            "description": "Post description (max 200 characters)",
            "schema": { "type": "string", "maxLength": 200 }
          },
          {
            "name": "post-type",
            "in": "header",
            "required": false,
            "description": "Only relevant when uploading 2+ files. `album` (default) groups all files into a single album post. `individual` creates a separate post per file.",
            "schema": { "type": "string", "enum": ["album", "individual"], "default": "album" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "1-9 image or video files. Use multiple `file` fields for multi-file uploads."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload successful. Response shape depends on whether 1 or multiple files were uploaded.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "description": "Single file response",
                      "properties": {
                        "message": { "type": "string", "example": "Upload successful!" },
                        "url": { "type": "string", "description": "Direct URL to the uploaded file" },
                        "file": {
                          "type": "object",
                          "properties": {
                            "size": { "type": "integer", "description": "File size in bytes" },
                            "size_formatted": { "type": "string" },
                            "mime_type": { "type": "string" },
                            "dimensions": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "width": { "type": "integer" },
                                "height": { "type": "integer" }
                              }
                            }
                          }
                        },
                        "processing_time": { "type": "integer" },
                        "post": {
                          "type": "object",
                          "properties": {
                            "code": { "type": "string" },
                            "url": { "type": "string", "description": "Share page URL" },
                            "postPrivacy": { "type": "string", "enum": ["public", "unlisted", "private"] }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "Multi-file response",
                      "properties": {
                        "message": { "type": "string" },
                        "files": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "index": { "type": "integer" },
                              "url": { "type": "string" },
                              "size": { "type": "integer" },
                              "size_formatted": { "type": "string" },
                              "mime_type": { "type": "string" },
                              "status": { "type": "string", "enum": ["success"] },
                              "dimensions": { "type": "object", "nullable": true, "properties": { "width": { "type": "integer" }, "height": { "type": "integer" } } }
                            }
                          }
                        },
                        "failed": {
                          "type": "array",
                          "nullable": true,
                          "items": {
                            "type": "object",
                            "properties": {
                              "index": { "type": "integer" },
                              "error": { "type": "string" },
                              "status": { "type": "string", "enum": ["failed"] }
                            }
                          }
                        },
                        "processing_time": { "type": "integer" },
                        "post": {
                          "type": "object",
                          "description": "Album mode returns `code`/`url`/`isAlbum`/`fileCount`. Individual mode returns `posts` array.",
                          "properties": {
                            "code": { "type": "string" },
                            "url": { "type": "string" },
                            "postPrivacy": { "type": "string" },
                            "isAlbum": { "type": "boolean" },
                            "fileCount": { "type": "integer" },
                            "posts": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "code": { "type": "string" },
                                  "url": { "type": "string" },
                                  "postPrivacy": { "type": "string" }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "No file, unsupported type, file too large, or all files failed",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Unauthorised",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "403": {
            "description": "Account suspended",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "413": {
            "description": "File exceeds your plan's size limit",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/uploads": {
      "get": {
        "summary": "List Uploads",
        "description": "Get your 30 most recent uploads. Requires an API key with upload access permission.",
        "operationId": "listUploads",
        "responses": {
          "200": {
            "description": "List of recent uploads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uploads": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string", "nullable": true, "description": "Associated share code when a post exists" },
                          "isAlbum": { "type": "boolean", "description": "Whether the upload belongs to an album post" },
                          "url": { "type": "string" },
                          "size": { "type": "integer", "description": "File size in bytes" },
                          "size_formatted": { "type": "string", "description": "Human-readable file size (e.g. \"2.50 MB\")" },
                          "uploaded": { "type": "string", "format": "date-time", "description": "ISO 8601 timestamp" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "No permission to access recent uploads",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/deleteUpload": {
      "delete": {
        "summary": "Delete Upload",
        "description": "Delete an uploaded file by filename. Requires an API key with upload access permission.",
        "operationId": "deleteUpload",
        "parameters": [
          {
            "name": "file",
            "in": "header",
            "required": true,
            "description": "Filename (32 hex chars + extension, e.g. a1b2c3d4e5f6...png)",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "File deleted successfully." }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid file parameter",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "No permission to delete uploads",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/editUpload": {
      "patch": {
        "summary": "Edit Upload",
        "description": "Edit an existing upload's title, description, or privacy level. Requires an API key with upload access permission. You must own the upload.",
        "operationId": "editUpload",
        "parameters": [
          {
            "name": "code",
            "in": "header",
            "required": true,
            "description": "The share code of the upload to edit",
            "schema": { "type": "string" }
          },
          {
            "name": "title",
            "in": "header",
            "required": false,
            "description": "New title (max 30 characters). Send empty string to clear.",
            "schema": { "type": "string", "maxLength": 30 }
          },
          {
            "name": "description",
            "in": "header",
            "required": false,
            "description": "New description (max 200 characters). Send empty string to clear.",
            "schema": { "type": "string", "maxLength": 200 }
          },
          {
            "name": "post-privacy",
            "in": "header",
            "required": false,
            "description": "New privacy level",
            "schema": { "type": "string", "enum": ["public", "unlisted", "private"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Upload updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "Upload updated successfully." },
                    "post": {
                      "type": "object",
                      "properties": {
                        "code": { "type": "string" },
                        "title": { "type": "string", "nullable": true },
                        "description": { "type": "string", "nullable": true },
                        "postPrivacy": { "type": "string", "enum": ["public", "unlisted", "private"] }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters or no fields to update",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "No permission to edit uploads or not the owner",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Upload not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/appendUpload": {
      "post": {
        "summary": "Append to Album",
        "description": "Add 1 or more files to an existing album post. The post's share code, privacy, title, and description are preserved. Albums cap at 9 files total. Newly added files inherit the post's privacy — if the post is private, returned URLs are signed with a 24-hour expiry. Each new file is auto-moderated; if any file or the post's title/description is flagged, the entire post is quarantined. Requires an API key with upload access permission. You must own the post.",
        "operationId": "appendUpload",
        "parameters": [
          {
            "name": "post-code",
            "in": "header",
            "required": true,
            "description": "The share code of the post to append to",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "1 or more image or video files. Use multiple `file` fields for multi-file appends. Total file count after append cannot exceed 9."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Files appended to album",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" },
                    "post": {
                      "type": "object",
                      "properties": {
                        "code": { "type": "string" },
                        "url": { "type": "string", "description": "Share page URL" },
                        "postPrivacy": { "type": "string", "enum": ["public", "unlisted", "private"] },
                        "fileCount": { "type": "integer", "description": "Total files in the album after append" }
                      }
                    },
                    "files": {
                      "type": "array",
                      "description": "Files that were successfully added",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": { "type": "integer" },
                          "fileName": { "type": "string" },
                          "url": { "type": "string", "description": "Direct URL. Signed with a 24-hour expiry if the post is private." },
                          "size": { "type": "integer" },
                          "size_formatted": { "type": "string" },
                          "mime_type": { "type": "string" },
                          "status": { "type": "string", "enum": ["success"] },
                          "dimensions": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "width": { "type": "integer" },
                              "height": { "type": "integer" }
                            }
                          }
                        }
                      }
                    },
                    "failed": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": { "type": "integer" },
                          "error": { "type": "string" },
                          "status": { "type": "string", "enum": ["failed"] }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing/invalid post-code, no file, album already full, would exceed 9-file cap, or all files failed",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "Unauthorised",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "403": {
            "description": "Account suspended, no permission to modify uploads, not the owner, or post is moderated",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "404": {
            "description": "Post not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "405": {
            "description": "Endpoint unavailable during development",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "413": {
            "description": "File exceeds your plan's size limit",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/blocks": {
      "get": {
        "summary": "List Blocked Users",
        "description": "Returns the list of users you have blocked.",
        "operationId": "listBlocks",
        "responses": {
          "200": {
            "description": "List of blocked users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blocks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userId": { "type": "string" },
                          "created": { "type": "string", "format": "date-time" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorised", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "429": { "description": "Rate limit exceeded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/block": {
      "post": {
        "summary": "Block User",
        "description": "Block a user by their ID. Blocked users cannot view your profile, posts, or interact with your content. You also cannot view theirs. Idempotent — blocking an already-blocked user succeeds.",
        "operationId": "blockUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targetId": { "type": "string", "description": "The user ID to block" }
                },
                "required": ["targetId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Block status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blocked": { "type": "boolean" },
                    "message": { "type": "string", "nullable": true }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid target or cannot block yourself", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorised", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Account suspended", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "User not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "429": { "description": "Rate limit exceeded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/unblock": {
      "post": {
        "summary": "Unblock User",
        "description": "Unblock a user by their ID. Idempotent — unblocking a non-blocked user succeeds.",
        "operationId": "unblockUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targetId": { "type": "string", "description": "The user ID to unblock" }
                },
                "required": ["targetId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Block status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blocked": { "type": "boolean" },
                    "message": { "type": "string", "nullable": true }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid target", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorised", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Account suspended", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "User not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "429": { "description": "Rate limit exceeded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/reports": {
      "post": {
        "summary": "Report Post",
        "description": "Report a post for violating community guidelines. The post must be public and not your own. Reports are reviewed by the moderation team.",
        "operationId": "reportPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": { "type": "string", "description": "The share code of the post to report" },
                  "reason": { "type": "string", "description": "Optional reason for the report", "maxLength": 200 }
                },
                "required": ["code"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" }
                  }
                }
              }
            }
          },
          "400": { "description": "Missing or invalid code, or reason too long", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorised", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Post already moderated, reporting own post, or author has blocked you", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "Post not found or private", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "429": { "description": "Rate limit exceeded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/discover": {
      "get": {
        "summary": "Discover Feed",
        "description": "Get public uploads for the discover feed. Returns up to 50 items. Plus and Enterprise users do not see ads.",
        "operationId": "discover",
        "responses": {
          "200": {
            "description": "Discover feed uploads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uploads": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": { "type": "string" },
                          "code": { "type": "string" },
                          "title": { "type": "string" },
                          "description": { "type": "string" },
                          "created": { "type": "string" },
                          "author": { "type": "string" },
                          "authorUsername": { "type": "string" },
                          "authorAvatar": { "type": "string" },
                          "authorPlus": { "type": "boolean" },
                          "isVerified": { "type": "boolean" },
                          "isAd": { "type": "boolean" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Account suspended",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Badges": {
        "type": "object",
        "description": "Badge map used by profile surfaces. Order matches website profile rendering.",
        "properties": {
          "verified": { "type": "boolean" },
          "staff": { "type": "boolean" },
          "partner": { "type": "boolean" },
          "bugHunterTier": { "type": "integer", "minimum": 0 },
          "translator": { "type": "boolean" },
          "plus": { "type": "boolean" }
        },
        "required": ["verified", "staff", "partner", "bugHunterTier", "translator", "plus"]
      },
      "PublicUpload": {
        "type": "object",
        "properties": {
          "url": { "type": "string" },
          "code": { "type": "string" },
          "title": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "created": { "type": "string", "format": "date-time", "nullable": true },
          "public": { "type": "boolean" }
        },
        "required": ["url", "code", "public"]
      },
      "UserProfileBase": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "username": { "type": "string", "nullable": true },
          "avatar": { "type": "string", "nullable": true },
          "banner": { "type": "string", "nullable": true },
          "nickname": { "type": "string", "nullable": true },
          "bio": { "type": "string", "nullable": true },
          "socials": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "plus": { "type": "boolean" },
          "enterprise": { "type": "boolean" },
          "verified": { "type": "boolean" },
          "staff": { "type": "boolean" },
          "partner": { "type": "boolean" },
          "translator": { "type": "boolean" },
          "bugHunterTier": { "type": "integer", "minimum": 0 },
          "suspended": { "type": "boolean" },
          "created": { "type": "string", "format": "date-time", "nullable": true },
          "embed_settings": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "badges": { "$ref": "#/components/schemas/Badges" }
        },
        "required": [
          "id",
          "plus",
          "enterprise",
          "verified",
          "staff",
          "partner",
          "translator",
          "bugHunterTier",
          "suspended",
          "badges"
        ]
      },
      "UserProfileSelf": {
        "allOf": [
          { "$ref": "#/components/schemas/UserProfileBase" },
          {
            "type": "object",
            "properties": {
              "key": { "type": "string" },
              "keyHasUploadsAccess": { "type": "boolean" },
              "uploads": { "type": "integer", "minimum": 0 },
              "publicUploads": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/PublicUpload" }
              }
            },
            "required": ["key", "keyHasUploadsAccess", "uploads"]
          }
        ]
      },
      "UserProfilePublic": {
        "allOf": [
          { "$ref": "#/components/schemas/UserProfileBase" },
          {
            "type": "object",
            "properties": {
              "publicUploads": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/PublicUpload" }
              },
              "blockedByYou": {
                "type": "boolean",
                "description": "Whether you have blocked this user. Only present on non-self profiles."
              }
            }
          }
        ]
      },
      "GetUserResponse": {
        "type": "object",
        "properties": {
          "user": {
            "oneOf": [
              { "$ref": "#/components/schemas/UserProfileSelf" },
              { "$ref": "#/components/schemas/UserProfilePublic" }
            ]
          }
        },
        "required": ["user"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key",
        "description": "Your API key from Snipp.gg"
      }
    }
  }
}
