{
  "openapi": "3.0.0",
  "info": {
    "title": "Snipp.gg API",
    "description": "Image and video hosting API. Upload, manage, and share media files.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.snipp.gg"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/users/{id}": {
      "get": {
        "summary": "Get user",
        "description": "Retrieve user profile data. Includes badge flags and a `badges` object (ordered as `verified`, `staff`, `partner`, `bugHunterTier`, `translator`, `plus`). For non-self requests, public profile uploads are included by default as `publicUploads`.",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User ID or `@me` for the authenticated user",
            "schema": { "type": "string" }
          },
          {
            "name": "includePosts",
            "in": "query",
            "required": false,
            "description": "Include `publicUploads` in the response. Defaults to `true` for non-self requests and `false` for `@me`.",
            "schema": { "type": "boolean" }
          },
          {
            "name": "postsLimit",
            "in": "query",
            "required": false,
            "description": "Maximum number of `publicUploads` to return (1-50, default 50).",
            "schema": { "type": "integer", "minimum": 1, "maximum": 50 }
          }
        ],
        "responses": {
          "200": {
            "description": "User data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserResponse"
                },
                "examples": {
                  "selfProfile": {
                    "summary": "@me response",
                    "value": {
                      "user": {
                        "id": "123456789012345678",
                        "username": "snipp",
                        "avatar": "https://cdn.snipp.gg/avatar.png",
                        "banner": null,
                        "nickname": "Snipp",
                        "bio": null,
                        "socials": null,
                        "key": "snp_xxx",
                        "keyHasUploadsAccess": true,
                        "plus": true,
                        "enterprise": false,
                        "verified": true,
                        "staff": false,
                        "partner": false,
                        "translator": false,
                        "bugHunterTier": 0,
                        "suspended": false,
                        "created": "2025-01-01T00:00:00.000Z",
                        "embed_settings": null,
                        "badges": {
                          "verified": true,
                          "staff": false,
                          "partner": false,
                          "bugHunterTier": 0,
                          "translator": false,
                          "plus": true
                        },
                        "uploads": 42
                      }
                    }
                  },
                  "publicProfile": {
                    "summary": "Public profile response",
                    "value": {
                      "user": {
                        "id": "987654321098765432",
                        "username": "creator",
                        "avatar": "https://cdn.snipp.gg/avatar.png",
                        "banner": null,
                        "nickname": "Creator",
                        "bio": "Hello world",
                        "socials": {
                          "x": "snippgg"
                        },
                        "plus": true,
                        "enterprise": false,
                        "verified": true,
                        "staff": false,
                        "partner": false,
                        "translator": false,
                        "bugHunterTier": 1,
                        "suspended": false,
                        "created": "2025-01-01T00:00:00.000Z",
                        "embed_settings": null,
                        "badges": {
                          "verified": true,
                          "staff": false,
                          "partner": false,
                          "bugHunterTier": 1,
                          "translator": false,
                          "plus": true
                        },
                        "publicUploads": [
                          {
                            "url": "https://i.snipp.gg/987654321098765432/example",
                            "code": "AbCd1234",
                            "title": "Launch teaser",
                            "description": "Public post",
                            "created": "2025-01-02T00:00:00.000Z",
                            "public": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised. No api-key header or invalid API key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/posts/{code}": {
      "get": {
        "summary": "Get post",
        "description": "Fetch a post by its share code. Returns the post's metadata including its direct file URL, title, description, privacy level, and creation date. Private posts are only visible to the owner.",
        "operationId": "getPost",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "The share code of the post",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Post data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "post": {
                      "type": "object",
                      "properties": {
                        "code": { "type": "string" },
                        "url": { "type": "string", "nullable": true, "description": "Direct URL to the file" },
                        "title": { "type": "string", "nullable": true },
                        "description": { "type": "string", "nullable": true },
                        "postPrivacy": { "type": "string", "enum": ["public", "unlisted", "private"] },
                        "created": { "type": "string", "format": "date-time", "nullable": true }
                      }
                    }
                  }
                },
                "examples": {
                  "post": {
                    "summary": "Post response",
                    "value": {
                      "post": {
                        "code": "AbCd1234",
                        "url": "https://i.snipp.gg/123456789012345678/example.png",
                        "title": "My screenshot",
                        "description": "A cool screenshot",
                        "postPrivacy": "public",
                        "created": "2025-01-02T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/upload": {
      "post": {
        "summary": "Upload file",
        "description": "Upload an image or video file. Supports PNG, JPG, WebP, GIF, MP4, MOV, and MKV. File size limits depend on your plan: Free (100 MB), Plus (5 GB), Enterprise (10 GB).",
        "operationId": "upload",
        "parameters": [
          {
            "name": "postprivacy",
            "in": "header",
            "required": false,
            "description": "Privacy for the generated post: unlisted (default, accessible via link), private (owner-only), or public (visible on Discover)",
            "schema": { "type": "string", "enum": ["public", "unlisted", "private"], "default": "unlisted" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image or video file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "Upload successful!" },
                    "url": { "type": "string", "description": "Direct URL to the uploaded file" },
                    "post": {
                      "type": "object",
                      "description": "Generated post metadata. Private posts are only viewable by the uploader.",
                      "properties": {
                        "code": { "type": "string" },
                        "url": { "type": "string", "description": "Share page URL" },
                        "postPrivacy": { "type": "string", "enum": ["public", "unlisted", "private"] }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No file, unsupported type, or file too large",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Account suspended",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "413": {
            "description": "File exceeds your plan's size limit",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/uploads": {
      "get": {
        "summary": "List uploads",
        "description": "Get your 30 most recent uploads. Requires an API key with upload access permission.",
        "operationId": "listUploads",
        "responses": {
          "200": {
            "description": "List of recent uploads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uploads": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": { "type": "string" },
                          "size": { "type": "string" },
                          "uploaded": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "No permission to access recent uploads",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/deleteUpload": {
      "delete": {
        "summary": "Delete upload",
        "description": "Delete an uploaded file by filename. Requires an API key with upload access permission.",
        "operationId": "deleteUpload",
        "parameters": [
          {
            "name": "file",
            "in": "header",
            "required": true,
            "description": "Filename (32 hex chars + extension, e.g. a1b2c3d4e5f6...png)",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "File deleted successfully." }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid file parameter",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "No permission to delete uploads",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/editUpload": {
      "patch": {
        "summary": "Edit upload",
        "description": "Edit an existing upload's title, description, or privacy level. Requires an API key with upload access permission. You must own the upload.",
        "operationId": "editUpload",
        "parameters": [
          {
            "name": "code",
            "in": "header",
            "required": true,
            "description": "The share code of the upload to edit",
            "schema": { "type": "string" }
          },
          {
            "name": "title",
            "in": "header",
            "required": false,
            "description": "New title (max 30 characters). Send empty string to clear.",
            "schema": { "type": "string", "maxLength": 30 }
          },
          {
            "name": "description",
            "in": "header",
            "required": false,
            "description": "New description (max 200 characters). Send empty string to clear.",
            "schema": { "type": "string", "maxLength": 200 }
          },
          {
            "name": "postprivacy",
            "in": "header",
            "required": false,
            "description": "New privacy level",
            "schema": { "type": "string", "enum": ["public", "unlisted", "private"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Upload updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "Upload updated successfully." },
                    "post": {
                      "type": "object",
                      "properties": {
                        "code": { "type": "string" },
                        "title": { "type": "string", "nullable": true },
                        "description": { "type": "string", "nullable": true },
                        "postPrivacy": { "type": "string", "enum": ["public", "unlisted", "private"] }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters or no fields to update",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "No permission to edit uploads or not the owner",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Upload not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/discover": {
      "get": {
        "summary": "Discover feed",
        "description": "Get public uploads for the discover feed. Returns up to 50 items. Plus and Enterprise users do not see ads.",
        "operationId": "discover",
        "responses": {
          "200": {
            "description": "Discover feed uploads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uploads": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": { "type": "string" },
                          "code": { "type": "string" },
                          "title": { "type": "string" },
                          "description": { "type": "string" },
                          "created": { "type": "string" },
                          "author": { "type": "string" },
                          "authorUsername": { "type": "string" },
                          "authorAvatar": { "type": "string" },
                          "authorPlus": { "type": "boolean" },
                          "isVerified": { "type": "boolean" },
                          "isAd": { "type": "boolean" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Account suspended",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Badges": {
        "type": "object",
        "description": "Badge map used by profile surfaces. Order matches website profile rendering.",
        "properties": {
          "verified": { "type": "boolean" },
          "staff": { "type": "boolean" },
          "partner": { "type": "boolean" },
          "bugHunterTier": { "type": "integer", "minimum": 0 },
          "translator": { "type": "boolean" },
          "plus": { "type": "boolean" }
        },
        "required": ["verified", "staff", "partner", "bugHunterTier", "translator", "plus"]
      },
      "PublicUpload": {
        "type": "object",
        "properties": {
          "url": { "type": "string" },
          "code": { "type": "string" },
          "title": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "created": { "type": "string", "format": "date-time", "nullable": true },
          "public": { "type": "boolean" }
        },
        "required": ["url", "code", "public"]
      },
      "UserProfileBase": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "username": { "type": "string", "nullable": true },
          "avatar": { "type": "string", "nullable": true },
          "banner": { "type": "string", "nullable": true },
          "nickname": { "type": "string", "nullable": true },
          "bio": { "type": "string", "nullable": true },
          "socials": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "plus": { "type": "boolean" },
          "enterprise": { "type": "boolean" },
          "verified": { "type": "boolean" },
          "staff": { "type": "boolean" },
          "partner": { "type": "boolean" },
          "translator": { "type": "boolean" },
          "bugHunterTier": { "type": "integer", "minimum": 0 },
          "suspended": { "type": "boolean" },
          "created": { "type": "string", "format": "date-time", "nullable": true },
          "embed_settings": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "badges": { "$ref": "#/components/schemas/Badges" }
        },
        "required": [
          "id",
          "plus",
          "enterprise",
          "verified",
          "staff",
          "partner",
          "translator",
          "bugHunterTier",
          "suspended",
          "badges"
        ]
      },
      "UserProfileSelf": {
        "allOf": [
          { "$ref": "#/components/schemas/UserProfileBase" },
          {
            "type": "object",
            "properties": {
              "key": { "type": "string" },
              "keyHasUploadsAccess": { "type": "boolean" },
              "uploads": { "type": "integer", "minimum": 0 },
              "publicUploads": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/PublicUpload" }
              }
            },
            "required": ["key", "keyHasUploadsAccess", "uploads"]
          }
        ]
      },
      "UserProfilePublic": {
        "allOf": [
          { "$ref": "#/components/schemas/UserProfileBase" },
          {
            "type": "object",
            "properties": {
              "publicUploads": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/PublicUpload" }
              }
            }
          }
        ]
      },
      "GetUserResponse": {
        "type": "object",
        "properties": {
          "user": {
            "oneOf": [
              { "$ref": "#/components/schemas/UserProfileSelf" },
              { "$ref": "#/components/schemas/UserProfilePublic" }
            ]
          }
        },
        "required": ["user"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key",
        "description": "Your API key from Snipp.gg"
      }
    }
  }
}
